# === Compilados y artefactos de Maven ===
target/
!.mvn/wrapper/maven-wrapper.jar
!target/classes/architecture/
!target/test-classes/architecture/

# === Archivos compilados y logs ===
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# === Base de datos H2 local (si se guarda en disco) ===
*.db
*.trace.db

# === Configuraciones de IDEs ===
# Eclipse / STS
.classpath
.project
.settings/
.metadata/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# OS metadata
.DS_Store
Thumbs.db